/* Global */
html *{
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: brown;
	padding: 9px;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
body {
	background-image: url("background.jpg");
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	padding: 0;
	width: 900px;
}
img {
	padding-right: 3px;
	padding: 0;
}
button {
	background-color: floralwhite;
	border: none;
	font-size: 16px;
}
.fa {color: orange;}
.menu {
	float: right;
	padding-bottom: 0;
	position: relative;
}

/* Clickables that are disabled */
.disabled {color: gray;}

/* Everything that can be clicked */
.clickable:hover, .clickable:focus {
	background-color: orange;
	bottom: 1px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(165,42,42,0.3);
	box-shadow: 0px 1px 5px 0px rgba(165,42,42,0.3);
	color: white;
	cursor: pointer;
	position: relative;
}
.clickable:active {background-color: orangered;}

/* Header & Footer */
header {
	font-family: 'Leckerli One', cursive;
	font-size: 35px;
	text-align: center;
}
small {
	color: red;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
}
footer {
	bottom: 10px;
	font-size: xx-large;
	height: 30px;
	left: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}
footer .fa {
	margin: 0;
	min-width: 25px;
	padding: 0;
}
footer .fa:hover, footer .fa:focus {
	background-color: rgba(255,0,0,0);
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer .fa:active {
	background-color: rgba(255,0,0,0);
	color: orangered;
}

/* Search bar */
.search {
	background-color: floralwhite;
	border: solid orange;
	float: left;
	min-height: 800px;
	width: 26%;
}
#search_results {
	border: solid orange;
	height: 726px;
	margin-top: 10px;
	overflow-y: auto;
}
.result {
	height: 36px;
	margin-bottom: 10px;
	padding: 0;
	text-align: left;
	width: 100%;
}
.result img {margin-right: 5px;}
.result:hover, .result:focus {
	background-color: orange;
	bottom: 1px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(165,42,42,0.3);
	box-shadow: 0px 1px 5px 0px rgba(165,42,42,0.3);
	cursor: pointer;
	position: relative;
}
.result:active {background-color: orangered;}
.result:hover div, .result:focus div {color: white;}
.search_area {padding: 0;}
.search input {
	border: solid orange;
	width: 84%;
}

/* Main listing */
.main {
	float: right;
	min-height: 800px;
	padding: 0;
	width: 73%;
}
.list_area {
	background-color: floralwhite;
	border: solid orange;
	height: 550px;
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 0;
}
.list_area img:hover, .list_area img:focus {
	background-color: orange;
	border-radius: 50%;
	bottom: 1px;
	cursor: pointer;
	position: relative;
}
.list_area img:active {background-color: orangered;}
#lists {padding: 0;}
.list {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
#lists input {
	border: solid orange;
	margin-bottom: 5px;
	width: 400px;
}

/* Viewer */
#viewer_list_area {
	background-color: floralwhite;
	border: solid orange;
	margin-bottom: 10px;
	min-height: 800px;
	overflow-y: auto;
	padding: 0;
}
#viewer_lists {
	margin: auto;
	padding: 0;
	text-align: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.viewer {
	height: 800px;
	padding: 0;
}

/* README */
.readme_area {
	background-color: floralwhite;
	border: solid orange;
	margin-bottom: 10px;
	min-height: 800px;
	overflow-y: auto;
	padding: 0;
}
.readme_area * {margin: 0;}
.readme_area h1 {color: orange;}
.readme_area h2 {
	color: orange;
	margin-left: 0;
}
.readme_area ul {margin-left: 35px;}
.readme_area li {padding-top: 0;}
.readme_area p {margin-left: 20px;}
.readme_area a {
	border-radius: 0;
	padding: 0;
}
.readme_area a:hover, .readme_area a:focus {
	background-color: orange;
	color: white;
	cursor: pointer;
}
.readme_area a:active {background-color: orangered;}

/* Villager profile */
#info {
	background-color: floralwhite;
	border: solid orange;
	font-size: 16px;
	min-height: 240px;
	padding: 0;
}
.profile-image {
	border-radius: 27px;
	border: solid orange;
	float: left;
	height: 215px;
	margin: 9px;
	padding: 0;
}
.profile {padding: 15px;}
.profile .fa {
	min-width: 35px;
	text-align: center;
}
select {
	background-color: white;
	border: solid orange;
	height: 40px;
}

/* "N/A" */
.na {
	color: orange;
	display: inline;
	padding: 0;
}
.birthday {
	color: hotpink;
	display: inline;
	font-weight: bold;
	padding: 0;
}
