* {
	box-sizing: border-box;
	padding: 9px;
	border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
body {
    background-image: url("background.jpg");
    margin: auto;
    width: 900px;
}
img {
    padding: 0
}
.fa {
    color: orange;
}

.disabled {
    color: gray;
}
.clickable:hover {
    color: white;
    cursor: pointer;
    background-color: orange;
}
.clickable:active {
    background-color: orangered;
}

.header {
    text-align: center;
    font-size: 25;
}

.search {
	width: 26%;
	min-height: 800px;
	float: left;
	border: solid orange;
    background-color: floralwhite;
}
#search_results {
    margin-top: 10px;
	overflow-y: auto;
	border: solid orange;
	height: 726px;
}
.result {
    padding: 0px;
}
.result:hover {
    background-color: orange;
    cursor: pointer;
}
.result:active {
    background-color: orangered;
}
.result:hover div {
    color: white;
}
.search_area {
	padding: 0px;
}
input {
	width: 84%;
    border: solid orange;
}

.main {
	width: 73%;
	min-height: 800px;
	float: right;
    padding: 0px;
}

.list_area {
    border: solid orange;
    height: 550px;
    margin-bottom: 10px;
    overflow-y: auto;
    background-color: floralwhite;
    padding: 0;
}
.list_area img {
    padding-bottom: 5px;
}
.list_area img:hover {
    background-color: orange;
    cursor: pointer;
}
.list_area img:active {
    background-color: orangered;
}
#lists {
    padding: 0;
}
.list {
    font-weight: bold;
    padding-bottom: 0;
}
.menu {
    float: right;
    padding-bottom: 0;
}

#info {
    border: solid orange;
    min-height: 240px;
    background-color: floralwhite;
    font-size: 16px;
}
.profile-image {
    height: 215px;
    float:left;
    padding:0;
    border-radius: 23px; /*8px*/
    /*border: solid orange;*/
}
.profile {
    padding-left: 20;
    padding-right: 0;
    padding-top: auto;
    padding-bottom: auto;
    float: left;
    max-height: 240px;
}
select {
    border: solid orange;
}

footer {
    font-size: xx-large;
    position:fixed;
    left:0px;
    bottom:10px;
    height:30px;
    width:100%;
    text-align: center;
    padding: 0;
}
footer .fa {
    margin: 0;
    padding: 0;
}
footer .fa:hover {
    background-color: rgba(255,0,0,0);
}